// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.background {
    background-image: url('/public/build.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

#intro {
    height: 20rem;
    margin-top: -12rem;
}


#table {
    background-image: url('/public/executives/9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // height: 40rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    margin-top: 10rem;
}

#donations {
    background-image: url('/public/executives/10.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    margin-top: 10rem;
}

.btn-purple{
    background: #800080 !important;
    color: #fff;
}

#quick p{
    margin-bottom: 6px;
}


#contactus p{
    margin-bottom: 6px;
}